body {
    background: #dfdfdf;
}

p {
    color: #222222;
}

.foto_principal {
    border: 5px solid #FFFFFF; /* shorthand */
    border-radius: 50% 10% 30% 70%;

    /*
    border-width: 5px;
    border-style: solid;
    border-color: black;
    */
}