body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: #222222;
    margin: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.foto_principal {
    border: 5px solid #FFFFFF; /* shorthand */
    border-radius: 50%;
    margin: 30px 30px 0 30px;
    padding: 5px;
    box-shadow: 0px 0px 10px #959595;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
}

h2 {
    margin-top: 0;
    font-style: italic;
    color: rgb(73, 73, 73);
    font-weight: 100;
    letter-spacing: -1px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 0;
}

h4 {
    margin-top: 5px;
    margin-bottom: 0;
}

h5 {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: medium;
}

p {
    line-height: 25px;
    margin-top: 3px;
    margin-bottom: 0;
}

.social-links {
    text-decoration: none;
}

.social-icons {
    width: 25px;
}

.github {
    margin: 0 15px 0 15px;
}

.jobs-list {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.footer {
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}